<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TreeShop</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <header>
    <nav>
      <a href="/tree-shop">TreeShop</a>
      <a href="/about-me">About Me</a>
    </nav>
  </header>

  <main>
    <%= body %>
  </main>

  <footer>
    <nav>
      <a href="/tree-shop">TreeShop</a>
      <a href="/about-me">About Me</a>
    </nav>
  </footer>
</body>
</html>
